<!DOCTYPE html>
<html>
  <head>
  <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <header>

      <div class='row'>

      <div class='col-md-2'>
        <a href='/'>Fish Finder</a>
      </div>

      <div class='col-md-10'>
        <a href='/photos'>Photos</a>
        <a href='/users'>Anglers</a>
        <a href='/logout'>Logout</a>
      </div>

    </div>
    </header>

    <form action='/photos/<%=photo.id%>?_method=PUT' method='POST'>
      Image: <input type='text' name='img' value='<%=photo.img%>'/><br>
      Date:  <input type='text' name='date' value='<%=photo.date%>'/><br>
      Location: <input type='text' name='location' value='<%=photo.location%>'/><br>
      Species: <input type='text' name='species' value='<%=photo.species%>'/><br>
      Bait: <input type='text' name='bait' value='<%=photo.bait%>'/><br>
      Latitude: <input type='text' name='lat' value='<%=photo.lat%>'/><br>
      Longitude: <input type='text' name='lng'/><br>
      <input type='submit' value='Edit Photo'/><br>
    </form>

  </body>

  <style>

  .row {
    background-color: green;
    height: 65px;
    margin-bottom: 50px;
  }
  .col-md-2 {
    position: relative;
    top: 15%;
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    left: 10%;
  }

  .col-md-10 {
    position: relative;
    top: 25%;
    left: 40%;
  }

  </style>
</html>
