<!DOCTYPE html>
<html>
  <head>
  <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <header>

        <div class='row'>

          <div class='col-md-2'
            <h1>Fish Finder</h1>
          </div>

    </header>

    <nav>
      <a class='nav' href='/'>Home</a>
      <a class='nav' href='/users'>Users</a>
      <a class='nav' href='/photos/new'>Add Photo</a>
    </nav>

    <div>
      <ul>
        <% for(let i = 0; i < photo.length; i++) {%>
          <li>
            <a href='/photos/<%=photo[i].id%>'><img  src='<%=photo[i].img%>' class="img-thumbnail"></a><br>
            <!-- Posted By: <%=photo.username%><br>
            Date: <%=photo[i].date%><br>
            Location: <%=photo[i].location%><br>
            Species: <%=photo[i].type%><br>
            Bait: <%=photo[i].bait%><br> -->

            <!-- <form action='/photos/<%=photo[i].id%>?_method=DELETE' method='POST'>
              <input type='submit' value='Delete Picture'/><br>
            </form> -->

            <!-- <a href='/photos/<%=photo[i].id%>/edit' role='button' class='btn btn-primary btn-xs'>Edit Photo</a> -->

          </li>
        <% } %>
      </ul>
    </div>

  </body>

  <style>

  .row {
    background-color: green;
    height: 65px;
  }

.col-md-2 {
    position: relative;
    top: 15%;
    font-size: 30px;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    left: 10%;
  }

  h1 {
    text-align: center;
    color: blue;
    border: 1px solid black;
    padding: 1em;
  }

  li {
    padding: 1em;
    display: inline-block;
    width: 250px;
    text-align: center;
    color: blue;
    margin-right: 15px;
  }

  nav {
    text-align: center;
    border: 1px solid black;
    padding: 2px;
    font-size: 15px;
    margin: 0;
    padding-right: 20px;
    background-color: lightgreen;
  }

  img {
    width: 250px;
    height: 200px;
    padding: 1em;
    border: 1px solid blue;
    background-color: lightblue;
  }

  .nav {
    display: inline-block;
    padding-right: 45px;
  }

  </style>

</html>
