<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Photos Landing Page</h1>

    <nav>
      <a href='/'>Home</a>
      <a href='/users'>Users</a>
      <a href='/photos/new'>Add Photo</a>
    </nav>

    <ul>
      <% for(let i = 0; i < photo.length; i++) {%>
        <li>
          <a href='/photos/<%=photo[i].id%>'><img src='<%=photo[i].img%>'></a><br>
          Posted By: <%=photo[i].username%><br>
          Date: <%=photo[i].date%><br>
          Location: <%=photo[i].location%><br>
          Species: <%=photo[i].type%><br>
          Bait: <%=photo[i].bait%><br>

          <form action='/photos/<%=photo[i].id%>?_method=DELETE' method='POST'>
            <input type='submit' value='Delete Picture'/><br>
          </form>

          <a href='/photos/<%=photo[i].id%>/edit'>Edit Photo</a>

        </li>
      <% } %>
    </ul>


  </body>

  <style>

  h1 {
    text-align: center;
  }

  li {
    padding: 1em;
    display: inline-block;
    width: 250px;
    text-align: center;
  }

  nav {
    text-align: center;
  }

  img {
    width: 250px;
    height: 200px;
  }

  </style>

</html>
