<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Photos Landing Page</h1>

    <a href='/'>Home</a>
    <a href='/users'>Users</a>
    <a href='/photos/new'>Add Photo</a>

    <ul>
      <% for(let i = 0; i < photo.length; i++) {%>
        <li>
          <a href='/photos/<%=photo[i].id%>'><img src='<%=photo[i].img%>'></a><br>
          Date: <%=photo[i].date%><br>
          Location: <%=photo[i].location%><br>
          Type: <%=photo[i].type%><br>
          Bait: <%=photo[i].bait%><br>
        </li>

        <form action='/photos/<%=photo[i].id%>?_method=DELETE' method='POST'>
          <input type='submit' value='Delete Picture'/>
        </form>
      <% } %>
    </ul>


  </body>

  <style>

  img {
    width: 350px;
    height: 300px;
  }

  </style>

</html>
