<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Photo Page</h1>

    <nav>
      <a href='/photos'>Photos</a>
      <a href='/'>Home</a>
    </nav>

    <a href='/photos/<%=photo.id%>'><img src='<%=photo.img%>'></a><br>
    Posted By: <a href='/users/<%=user._id%>'><%=user.username%></a><br>
    Location: <%=photo.location%><br>
    Species: <%=photo.type%><br>
    Bait: <%=photo.bait%><br>

  </body>

  <style>

  body {
    text-align: center;
  }

  img {
    width: 250px;
    display: block;
    margin: auto;
  }


  </style>

</html>
