<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>

    <header>

      <div class='row'>

        <div class='col-md-2'>
          <a href='/photos'>Fish Finder</a>
        </div>

        <div class='col-md-10'>
          <a href='/photos'>Photos</a>
          <a href='/users'>Anglers</a>
          <a href='/'>Sign Up</a>
          <a href='/logout'>Logout</a>
        </div>

    </div>

    </header>

    <div class='post'>
      <div class='info'>
      <a href='/photos/<%=photo.id%>'><img src='<%=photo.img%>'></a><br>
      <a href='/users/<%=user._id%>'><%=user.username%></a><br>
      Location: <%=photo.location%><br>
      Species: <%=photo.species%><br>
      Bait: <%=photo.bait%><br>
      Latitude: <%=photo.lat%><br>
      Longitude: <%=photo.lng%><br><br>


      <a href='/photos/<%=photo.id%>/edit' role='button' class='btn btn-primary btn-xs'>Edit Photo</a>
      </div>


      <h2>Location</h2>
          <div id="map"></div>

          <script>
          function initMap() {
            var lati = <%=photo.lat%>;
            var longi = <%=photo.lng%>;
            var uluru = {lat: lati, lng: longi};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: uluru
            });
            var marker = new google.maps.Marker({
              position: uluru,
              map: map
            });
            }
            </script>

          <script async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBBwSRcjgTDYRbqUY0uQe-160PPJ1g0Iy4&callback=initMap'> </script>
        </div>


          <form action='/photos/<%=photo.id%>?_method=DELETE' method='POST'>
              <input type='submit' value='Delete Post'/><br>
          </form>

  </body>

  <style>

  body {
    background-color: #43AA8B;
  }

  .post {
    margin: 0 auto;
    text-align: center;
    padding-top: 15px;
    height: 1000px;
    width: 50%;
    font-family: 'Gloria Hallelujah', cursive;
    border: 2.5px dotted #F15573;
    background-color: #B2B09B;
    color: #226f54;
    font-size: 20px;
  }

  .info {
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
    border: 2.5px solid #226f54;
  }

   #map {
     width: 60%;
     height: 400px;
     margin: 0 auto;
   }

  nav a {
    padding-right: 25px;
  }

  body {
    text-align: center;
  }

  img {
    padding-top: 20px;
    width: 250px;
    display: block;
    margin: auto;
    height: 250;
  }

  .col-md-2 {
    position: relative;
    top: 10%;
    font-size: 35px;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    left: 8%;
  }

  .col-md-10 {
    position: relative;
    top: 35%;
    left: 25%;
    color: white;
    font-size: 16px;
  }

  .row a {
      color: white;
      padding-right: 20px;
      font-family: 'Gloria Hallelujah', cursive;
  }

  .row {
    background-color: #226f54;
    height: 65px;
    margin-bottom: 50px;
  }

  form {
    padding-top: 25px;
  }

  h2 {
    font-weight: bold;
  }



  </style>

</html>
