<!DOCTYPE html>
<html>
  <head>
  <% include ../partials/head.ejs %>
    <title></title>
  </head>
  <body>
    <header>

      <div class='row'>

      <div class='col-md-2'>
        <a href='/'>Fish Finder</a>
      </div>

      <div class='col-md-10'>
        <a href='/photos'>Photos</a>
        <a href='/users'>Anglers</a>
        <a href='/'>Sign Up</a>
        <a href='/logout'>Logout</a>
      </div>

    </div>
    </header>

    <div class='container'>
    <ul>
      <% for(let i = 0; i < user.length; i++) { %>
        <li>
          <img src='<%=user[i].profilePic%>'><br>
          <a href='/users/<%=user[i].id%>'><%=user[i].username%></a><br>
          Location: <%=user[i].location%><br>


          <!-- <form action='users/<%=user[i].id%>?_method=DELETE' method='POST'>
            <input type='submit' value='DELETE'/><br>

          <a href='users/<%=user[i].id%>/edit'>Edit User<a>
          </form> -->

        </li>
    <% } %>
    </ul>
    </div>
  </body>


  <style>

  body {
    background-image: url('http://wallpapercave.com/wp/K6IjzXu.jpg');
    background-size: 2500px 1000px;
    background-repeat: no-repeat;
  }

  li {
    display: inline-block;
    padding: 2em;
    border: 2.5px solid #425384;
    border-radius: 10%;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #B2B09B;
  }
  .col-md-2 {
    position: relative;
    top: 10%;
    font-size: 35px;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    left: 10%;
  }

  .col-md-10 {
    position: relative;
    top: 35%;
    left: 60%;
    color: white;
    font-size: 16px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .row a {
      color: white;
      padding-right: 20px;
      font-family: 'Gloria Hallelujah', cursive;
  }

  .row {
    background-color: #226f54;
    height: 65px;
    margin-bottom: 50px;
  }

  img {
    width: 250px;
    height: 250px;
    padding: 1em;
    border: 1px solid #FAB949;
    background-color: #226f54;
  }

  </style>
</html>
